extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Liz Rurangwa

        p Full Stack JavaScript Developer


        .about-bio

          p As an aspiring Junior Front-end Software Engineer, I am excited about leveraging these skills to create user-friendly interfaces that enhance digital experiences while maintaining high-performance standards. Moreover, my unique blend of scientific knowledge and technical skills allows me to approach problems with a unique perspective – understanding both the nitty-gritty details and the bigger picture. I'm currently seeking opportunities where I can contribute towards creating impactful digital solutions while continuously learning and growing alongside a team that values innovation.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li React
          li MongoDB
          li PostgreSQL 
          li Git and GitHub
          li VS Code
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 2036094815
          li ruraliz12@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/liz-rurangwa-liz-rurangwa/') LinkedIn
        br
        a.btn-link(href='https://github.com/ruraliz') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back