extends layout.pug

block content
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    img.desk-items(src='/static/images/desk.svg')
    a.button-primary-small(href='/') Go Home &rarr;
    .paper
      pre.stack-trace= error.stack
    .tear