extends layout 

block main
    article.portfolio-intro
        h1 My Portfolio
        p portfolio description 
    article.portfolio-project-thumbs 
        .projects-box.box.grid
            .cell
                a(href='#')
            img.thumbnail(src='"images/project1/mainpage.png"', alt='')
            h5 My Site