extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p This is a portfolio to showcase all the projects I worked in while in the Treehouse Techdegree program. This porfolio will keep growing as I complete more projects.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, width= '370px' height= '370px' alt=`Thumbnail for ${project.project_name}`)
          h5= project.project_name
        