doctype html

html(lang="en")
  head
    title My Portfolio
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    include includes/header.pug
    block main  
  footer  
    include includes/footer.pug