extends layout.pug

block content
  section.desk
    h1=`Status: ${err.status}`
    p.not-found-p=`Message: ${err.message}`
    img.desk-items(src='/static/images/desk.svg')
    a.button-primary-small(href='/') Go Home &rarr;
    .paper
      pre.stack-trace= `${err.stack}`
    .tear
